body {
 font-family: Arial, sans-serif;
 background-color: rgb(240, 240, 240);
 color: rgb(0, 0, 0);
 margin: 0%;
} 
header {
    background-color: rgb(149, 149, 238);
    color: aliceblue;
    padding: 15px;
    text-align: center;
    
}
header h1 {
    margin: 0;
    font-size: 2.5em;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
}
nav ul li {
 display: inline-block;
  margin:  0 15px; 
}
nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none; 
    font-size: 1.2em;
}
nav ul li a:hover {
    color: rgb(0, 0, 0);
}
main {
    padding: 20px;
    text-align: center;
}
ul{
    list-style: none;
   
   
}
main h2{
    color: rgb(13, 13, 13);
    font-size: 2em;
    margin-top: 0S;
} 

main p {
    font-size: 1.2em;
}

body h2 {
    text-align: center;
    font-size: 2em;

} 
body p {
    text-align: center;
    font-size: 1.2em;
}

footer {
    background-color: rgb(149, 149, 238);
    color: rgb(239, 239, 239);
    text-align: center;
    padding: 4px 0;
    position:relative;
    width: 100%;
    bottom: 0;
}

.Contenido-footer {
    display: flex;
    justify-content: space-between;
    text-align: center;
    list-style: none;
    
}